.idea
Shuttles.xcodeproj/project.pbxproj
Shuttles.xcodeproj/xcuserdata/
Shuttles/GoogleService-Info.plist
Shuttles/RemoteConfigDefaults.plist
Shuttles/FirebaseServiceAccount.json
Pods
.DS_Store
Shuttles.xcworkspace/xcuserdata/*
firebase_crash.json
